@{
    ViewData["Title"] = "Logowanie";
}

<h2 class="text-center">Logowanie</h2>

<div class="d-flex justify-content-center">
    <form class="w-50 border p-4 rounded">
        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" placeholder="Wpisz e-mail">
        </div>
        <div class="mb-3">
            <label class="form-label">Hasło</label>
            <input type="password" class="form-control" placeholder="Wpisz hasło">
        </div>
        <button class="btn btn-primary w-100">Zaloguj się</button>
    </form>
</div>
